.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: $color-primary;
  border-radius: 5px;
  cursor: pointer;
}

.lightbox-ctr {
  .closing-LB {
    right: 5em;
    top: 5em;
  }
  .chevron-left {
    top: 50%;
    left: 5em;
  }
  .chevron-right {
    top: 50%;
    right: 5em;
  }
  button {
    position: absolute;
  }
  h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 10%;
  }
}
