.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  margin: 30px 0;
  text-align: center;
  article {
    h2 {
      font-size: 36px;
      margin-block: 5px;
    }
    h3,
    .taglineTxt,
    .pricing {
      margin: 3px;
    }
  }
}

.photographer_section article,
.prez {
  h2 {
    color: $color-secondary;
  }
  img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 3px 3px 3px #ebebeb;
  }
  h3 {
    color: $color-primary;
  }
  .pricing {
    color: $color-grey;
  }
}
